.company.logo > a {
  background: white url("img/aoz-studio.png") 10px 10px no-repeat;
  background-size: auto 44px; }

@media screen and (min-width: 470px) {
  body.min-left .company.logo > a {
    background: white url("img/aoz-small.png") 10px 20px no-repeat;
    background-size: auto 24px; } }
