@import '../../../../itrocks/framework/skins/default/responsive.scss';

.company.logo > a {
	background: white url('img/aoz-studio.png') 10px 10px no-repeat;
	background-size: auto 44px;
}

@media screen and (min-width: $tab-min-width) {

	body.min-left .company.logo > a {
		background: white url('img/aoz-small.png') 10px 20px no-repeat;
		background-size: auto 24px;
	}

}
